footer {
  height: 30vh;
  background: #353839;
}
.github-icon {
  margin-right: -30px;
  width: 50px;
  height: 50px;
}
.linkedin-icon {
  width: 50px;
  height: 50px;
}
.heart {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.netlify-icon {
  width: 20px;
  height: 20px;
}
.copyright {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
.react-icon {
  width: 20px;
  height: 20px;
}
.caption-span {
  margin-left: 10px;
}
.footer-caption {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  font-family: Poppins;
}
.image-row {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-flow: row nowrap;
}

/* iphone x */
/* @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
} */
/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  footer {
    height: auto;
  }
  .image-row {
    padding-top: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  .footer-caption {
    letter-spacing: 0.5px;
    display: unset;
  }
  .github-icon {
    margin-right: unset;
  }
  .linkedin-icon {
    width: 60px;
    height: 60px;
  }
  .social-medias {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .heart {
    display: inline;
  }
  .react-icon {
    display: inline;
  }
  .netlify-icon {
    display: inline;
  }
}
