.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/Engineer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: transparent;
  height: 70px;
  margin-top: 20px;
  font-size: 18px;
}
header :hover {
  color: black;
}
a {
  text-decoration: none;
  padding: 0 20px;
  color: #3d21c6;
  font-family: Poppins, sans-serif, monospace;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
.info-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
}
.sub-titles {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  width: 100%;
}
.sub-titles p {
  margin-right: 100px;
  margin-left: 100px;
}
.position-name {
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 24px;
}
.grid-container {
  display: grid;
  margin: 0 auto;
  margin-bottom: 0;
  align-items: end;
  font-family: Poppins, sans-serif;
}
.my-name {
  margin-bottom: 20px;
  font-size: 48px;
  color: white;
}
