.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/pexels1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: transparent;
  height: 70px;
  /* z-index: -1; */
  padding-top: 20px;
  font-size: 18px;
}
header {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
header :hover {
  color: black;
}
a {
  text-decoration: none;
  padding: 0 20px;
  color: #3d21c6;
  font-family: Poppins, sans-serif, monospace;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
.info-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
}
.sub-titles {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  width: 100%;
}
.sub-titles p {
  margin-right: 100px;
  margin-left: 100px;
}
.position-name {
  color: white;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 24px;
}
.grid-container {
  display: grid;
  margin: 0 auto;
  margin-bottom: 0;
  align-items: end;
  font-family: Poppins, sans-serif;
}
.my-name {
  margin-bottom: 20px;
  font-size: 48px;
  color: white;
}
.about,
.project {
  font-family: Poppins;
  color: #fff;
}

/* iphone x */
/* @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
} */
/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .parallax {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
 
  header {
    display: none;
  }

  .grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sub-titles {
    display: unset;
    font-size: 20px;
    letter-spacing: 1px;
  }
}
